
/* Search style */
.container-search {
    background-color: grey;
}

/* End Search style */


/* Page API style */
.container-pageapi {
    background-color: white;
}

/* End Page API style */


/* Pagination style */
.container-pagination {
    background-color: blanchedalmond;
}

/* End pagination style */